body {
    text-align: center;
    background-color: #ED6A5A;
}

h1,
button, {
    color: #F4F1BB;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #e0db7c;
    font-size: 25px;
}

button {
    padding: 8px 10px;
    font-size: 1em;
    background-color: #0aaf99;
    border-radius: 5px;
}